FtcRobotController/src/main/assets/FTC_2016-17.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="QCARConfig" type="QCARConfigType"/>
  <xs:complexType name="TrackingType">
    <xs:sequence>
      <xs:element type="ImageTargetType" name="ImageTarget" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImageTargetType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="size" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="QCARConfigType">
    <xs:sequence>
      <xs:element type="TrackingType" name="Tracking"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>